.ipynb_checkpoints
*\.ipynb_checkpoints\*
*\capstone main\*
*\capstones\*
*\datacamp\*
*datacamp\*


capstones/Kaggle_UsedCarDataset/UsedCars.html
capstones/Kaggle_UsedCarDataset/EDAUsedCars.ipynb
capstones/Kaggle_DataScienceJobs/Untitled1.ipynb
capstones/Kaggle_DataScienceJobs/Untitled.ipynb
capstones/Kaggle_DataScienceJobs/ScrapeAI.ipynb
capstones/Kaggle_DataScienceJobs/Salaries.html
capstones/Kaggle_DataScienceJobs/Reviews.html
capstones/Kaggle_DataScienceJobs/Review Responses.html
capstones/Kaggle_DataScienceJobs/Overview Competitors.html
capstones/Kaggle_DataScienceJobs/Main.html
capstones/Kaggle_DataScienceJobs/LoadAndCleanAndresionek.ipynb
capstones/Kaggle_DataScienceJobs/LoadAndClean-JobSpikr.ipynb
capstones/Kaggle_DataScienceJobs/LoadAndClean-atharvap329.ipynb
capstones/Kaggle_DataScienceJobs/LoadAndClean-andresionek.ipynb
capstones/Kaggle_DataScienceJobs/Kaggle-JobSpikr/data_scientist_united_states_job_postings_jobspikr.csv
capstones/Kaggle_DataScienceJobs/Kaggle-JobSpikr/10000 Data Scientist Job Postings from the USA - Kaggle.url
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-atharvap329/Glassdoor Job Postings - Data Science - Kaggle.url
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-atharvap329/Data_Job_WA.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-atharvap329/Data_Job_TX.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-atharvap329/Data_Job_SF.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-atharvap329/Data_Job_NY.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-atharvap329/Data Jobs Listings - Glassdoor - Kaggle.url
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Selenium Tutorial- Scraping Glassdoor.com in 10 Minutes - by Ömer Sakarya - Towards Data Science.url
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scraping-glassdoor-selenium-master/scrapebs4.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scraping-glassdoor-selenium-master/scrape2.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scraping-glassdoor-selenium-master/README.md
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scraping-glassdoor-selenium-master/glassdoor scraping.ipynb
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scraping-glassdoor-selenium-master/chromedriver
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scraping-glassdoor-selenium-master.zip
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scrape_simple.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/scrape.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master/requirements.txt
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master/README.md
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master/glue-job-script.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master/glassdoorscraper/json-scraper.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master/glassdoorscraper/html-scraper.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master/glassdoorscraper/currency-conversion-table.py
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master/glassdoorscraper/config.yml
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/Job-Listing-Scraper-master.zip
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_wwfu_val_videos.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_wwfu_val_photos.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_wwfu_val_captions.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_wwfu.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_salary_salaries.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_reviews_val_reviewResponses.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_reviews.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_photos.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_overview_competitors.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_breadCrumbs.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_benefits_highlights.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor_benefits_comments.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/glassdoor scraping.ipynb
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/currency_exchange.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/country_names_2_digit_codes.csv
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/chromedriver_win32.zip
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/chromedriver.exe
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/archive.zip
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/.idea/vcs.xml
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/.idea/modules.xml
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/.idea/misc.xml
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/.idea/Kaggle-Glassdoor-andresionek.iml
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/.idea/inspectionProfiles/Project_Default.xml
capstones/Kaggle_DataScienceJobs/Kaggle-Glassdoor-andresionek/.idea/inspectionProfiles/profiles_settings.xml
capstones/Kaggle_DataScienceJobs/Ideas.md
capstones/Kaggle_DataScienceJobs/Glassdoor-andresionek-partial.html
capstones/Kaggle_DataScienceJobs/EDA-DataScienceJobs.ipynb
capstones/Kaggle_DataScienceJobs/DataScienceJobsSpikr.html
capstones/Kaggle_DataScienceJobs/DataScienceJobsGlassDoor.html
capstones/Kaggle_DataScienceJobs/DataScienceJobsAll.html
capstones/Kaggle_DataScienceJobs/Currency Exchange.html
capstones/Kaggle_DataScienceJobs/Country Names.html
capstones/Kaggle_DataScienceJobs/Bread Crumbs.html
capstones/Kaggle_DataScienceJobs/Benefits Highlights.html
capstones/Kaggle_DataScienceJobs/Benefits Comments.html
datacamp/.ipynb_checkpoints/pandas-checkpoint.pdf
datacamp/.ipynb_checkpoints/Pandas cheatsheat-checkpoint.pdf
datacamp/.ipynb_checkpoints/pandas categoricals and groupby-checkpoint.pdf
datacamp/.ipynb_checkpoints/merging dataframes pandas-checkpoint.pdf
datacamp/.ipynb_checkpoints/indexing time series-checkpoint.pdf
datacamp/.ipynb_checkpoints/indexing dataframes-checkpoint.pdf
datacamp/.ipynb_checkpoints/Index objects and labeled data-checkpoint.pdf
datacamp/.ipynb_checkpoints/case study counting crimes-checkpoint.pdf
*.pdf
datacamp/.ipynb_checkpoints/pandas-checkpoint.pdf
datacamp/.ipynb_checkpoints/Pandas cheatsheat-checkpoint.pdf
datacamp/.ipynb_checkpoints/pandas categoricals and groupby-checkpoint.pdf
datacamp/.ipynb_checkpoints/merging dataframes pandas-checkpoint.pdf
datacamp/.ipynb_checkpoints/indexing time series-checkpoint.pdf
datacamp/.ipynb_checkpoints/indexing dataframes-checkpoint.pdf
datacamp/.ipynb_checkpoints/Index objects and labeled data-checkpoint.pdf
datacamp/.ipynb_checkpoints/case study counting crimes-checkpoint.pdf
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT.zip
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_02/Planets.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_02/Planets.xlsx
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_03/02_03_pandas_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_03/02_03_pandas_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_03/Planets.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_04/02_04_cleaning_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_04/02_04_cleaning_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_04/billboard.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_05/02_05_challenge_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_05/02_05_challenge_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_05/final.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_05/tb.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_06/02_06_solution_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_06/02_06_solution_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_06/final.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter2/02_06/tb.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_01/03_01_visualization_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_01/03_01_visualization_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_01/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_02/03_02_distributions_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_02/03_02_distributions_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_02/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_02/income-1965-china.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_02/income-1965-usa.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_02/income-2015-china.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_02/income-2015-usa.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_03/03_03_histograms_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_03/03_03_histograms_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_03/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_03/income-1965-china.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_03/income-1965-usa.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_03/income-2015-china.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_03/income-2015-usa.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_04/03_04_twovariables_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_04/03_04_twovariables_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_04/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_05/03_05_morevariables_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_05/03_05_morevariables_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_05/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_06/03_06_categorical_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_06/03_06_categorical_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_06/whickham.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_07/03_07_proportions_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_07/03_07_proportions_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_07/whickham.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_08/03_08_email_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_08/03_08_email_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_08/mbox-anonymized.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_09/03_09_challenge_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_09/03_09_challenge_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_09/mbox-cleaned.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_10/03_10_solution_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_10/03_10_solution_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter3/03_10/mbox-cleaned.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_02/04_02_confidenceintervals_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_02/04_02_confidenceintervals_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_02/poll-larger.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_02/poll.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_03/04_03_bootstrapping_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_03/04_03_bootstrapping_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_03/grades.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_04/04_04_testing_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_04/04_04_testing_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_04/cholera.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_04/london.png
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_04/pumps.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_05/04_05_pvaluesandconfidence_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_05/04_05_pvaluesandconfidence_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_05/poll-larger.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_05/poll.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_06/04_06_challenge_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_06/04_06_challenge_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_06/grades.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_07/04_07_solution_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_07/04_07_solution_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter4/04_07/grades.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_02/05_02_fitmodel_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_02/05_02_fitmodel_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_02/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_03/05_03_fitgoodness_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_03/05_03_fitgoodness_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_03/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_04/05_04_crossvalidation_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_04/05_04_crossvalidation_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_04/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_05/05_05_logistic_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_05/05_05_logistic_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_05/whickham.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_06/05_06_bayesian_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_06/05_06_bayesian_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_06/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_07/05_07_challenge_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_07/05_07_challenge_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_07/gapminder.csv
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_08/05_08_solution_begin.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_08/05_08_solution_end.ipynb
python_stats_essential_training_linkedin/Ex_Files_Python_Statistics_EssT/Ex_Files_Python_Statistics_EssT/Exercise Files/chapter5/05_08/gapminder.csv
capstone main/NFLData/data/kaggle.json
capstone main/NFLData/data/pbp-2013.csv
capstone main/NFLData/data/pbp-2014.csv
capstone main/NFLData/data/pbp-2015.csv
capstone main/NFLData/data/pbp-2016.csv
capstone main/NFLData/data/pbp-2017.csv
capstone main/NFLData/data/pbp-2018.csv
capstone main/NFLData/data/pbp-2019.csv
capstone main/NFLData/data/pbp-2020.csv
capstone main/NFLData/EDA-KagglePlayerData.ipynb
capstone main/NFLData/EDA-Play by Play.ipynb
capstone main/NFLData/EDA.ipynb
capstone main/NFLData/Get Play By Play Data.ipynb
capstone main/NFLData/pbp-2020.html
capstone main/NFLData/player.html
capstone main/NFLData/readme.md
capstone main/NFLData/Scrape NFL Draft Data.ipynb
capstone main/NFLData/streamlit.py
capstone main/NFLData/untitled.txt
capstone main/NFLData/view-source_https___www.pro-football-reference.com_draft_2020-combine.htm
capstone main/PPPLoanProgram/.ipynb_checkpoints/Readme-checkpoint.md
capstone main/PPPLoanProgram/PPP-Results-Sunday.pdf
capstone main/PPPLoanProgram/Readme.md
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Pandas Cheatsheet-checkpoint.ipynb
capstones/Dallas Open Data - New Crime Watch/EDA-DallasCrime.ipynb
capstones/Dallas Open Data - New Crime Watch/RawCrime.html
capstones/Kaggle_DataScienceJobs/DataScienceJobsGlassDoor.html
capstones/Kaggle_DataScienceJobs/DataScienceJobsSpikr.html
capstones/Kaggle_DataScienceJobs/EDA-DataScienceJobs.ipynb
capstones/Kaggle_UsedCarDataset/EDAUsedCars.ipynb
capstones/Kaggle_UsedCarDataset/UsedCars.html
capstones/Untitled.ipynb
datacamp/.ipynb_checkpoints/case study counting crimes-checkpoint.pdf
datacamp/.ipynb_checkpoints/Index objects and labeled data-checkpoint.pdf
datacamp/.ipynb_checkpoints/indexing dataframes-checkpoint.pdf
datacamp/.ipynb_checkpoints/indexing time series-checkpoint.pdf
datacamp/.ipynb_checkpoints/merging dataframes pandas-checkpoint.pdf
datacamp/.ipynb_checkpoints/pandas categoricals and groupby-checkpoint.pdf
datacamp/.ipynb_checkpoints/Pandas cheatsheat-checkpoint.pdf
datacamp/.ipynb_checkpoints/pandas-checkpoint.pdf
